{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" sizes="100PX" href="../image/WORLD.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Dashboard </title>
  <link rel="stylesheet" href="{% static '/CSS/dashboard.css' %}">
</head>
<body style=" background-color: #677483;">
  <div class="container">
  
    
      <div class="insight">
        <h1 style="background-color: #7380ec ; padding-bottom: 30px; text-align: center; padding-right: 20px; width: 100%; color:#dce1eb;">ERROR 404 Page</h1>
    </main>
    </div>
    <main>
      <div class="insight">
        <h1 style="color: #dce1eb" >This page is not found 😥</h1>
      </div>
    </main>
</body>
<script src="{% static '/Js/dashboard.js' %}"></script>
</html>